<template>
  <div>
    <nav>
      <nuxt-link to="/cuba-platform/learn">cuba learn</nuxt-link>
      <nuxt-link to="/learn">learn</nuxt-link>
      <nuxt-link to="/">/</nuxt-link>
    </nav>
  </div>
</template>