<template>
  <div>
    <div class="title">hello</div>

    {{message}}
  </div>
</template>

<script>
export default {
  mounted() {
    console.log('mounted')
    document.cookie = 'message=hello';
    this.$store.dispatch('getMessage');
  },
  computed: {
    message() {
      return this.$store.state.message;
    }
  }
}
</script>

<style>
.title {
  color: gold;
  font-size: 50px;
  font-family: sans-serif;
}
</style>